@model MVSimulationViewModel
@{
    var Days = new List<string>() { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"};
    var person = Model.Person;
}

<div>
    <h3>New Simulation</h3>
    <div>
        <form asp-action="Form">
            <!-- Schedule -->
            <h4>Schedule</h4>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Day</th>
                            <th class="text-center">CMVO Hours</th>
                            <th class="text-center">HMVO Hours</th>
                            <th class="text-center">Other Hours</th>
                            <th class="text-center">Is Holiday</th>
                        </tr>
                    </thead>
                    <tbody>
                            @for (var i = 0; i < Days.Count; i++)
                    {
                        var v = person.WeeklySchedule.Hours;
                        <tr>
                            <td>@Days[i]</td>
                            <td>
                                <input type="text" class="form-control" asp-for="Person.WeeklySchedule.Hours[i].HoursCmvo"/>
                                @* <input type="text" name="Model[@i].CmvoHours" /> *@
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="Person.WeeklySchedule.Hours[i].HoursHmvo"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="Person.WeeklySchedule.Hours[i].HoursOther"/>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="Person.WeeklySchedule.Hours[i].IsHoliday"/>
                            </td>
                        </tr>
                    }

                    </tbody>
                
                </table>
            </div>
            
            <!-- CASES -->
            <hr/>
            <h4>Simulation Cases</h4>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Parameter</th>
                            <th class="text-center">Base Case</th>
                            <th class="text-center">Variant Case</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Standard CMVO Daily Hours</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardCmvoDaily"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardCmvoDaily"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Standard CMVO Weekly Hours</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardCmvoWeekly"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardCmvoWeekly"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Standard Other Weekly Hours</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardOtherWeekly"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardOtherWeekly"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Standard Highway Weekly Hours</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardHighwayWeekly"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardHighwayWeekly"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Highway Holiday Reduction Factor</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.StandardHighwayReduction"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.StandardHighwayReduction"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Max CMVO Distance (miles)</td>
                            <td>
                                <input type="text" class="form-control" asp-for="BaseCase.MaxCmvoDistance"/>
                            </td>
                            <td>
                                <input type="text" class="form-control" asp-for="VariantCase.MaxCmvoDistance"/>
                            </td>
                        </tr>
                        @* <tr class="bg-info font-weight-bold">
                            <td>Hours OT</td>
                            <td>@result.PersonResults[0].BaseAmount</td>
                            <td>@result.PersonResults[0].VariantAmount</td>
                        </tr> *@

                    </tbody>
                </table>
            </div>
            <div>
                <span class="text-danger" asp-validation-for="BaseCase.StandardCmvoDaily"></span>
                <span class="text-danger" asp-validation-for="BaseCase.StandardCmvoWeekly"></span>
                <span class="text-danger" asp-validation-for="BaseCase.StandardOtherDaily"></span>
                <span class="text-danger" asp-validation-for="BaseCase.StandardOtherWeekly"></span>
                <span class="text-danger" asp-validation-for="BaseCase.StandardHighwayWeekly"></span>
                <span class="text-danger" asp-validation-for="BaseCase.StandardHighwayReduction"></span>
                <span class="text-danger" asp-validation-for="BaseCase.MaxCmvoDistance"></span>
            </div>


            @* <div class="row">
                <div class="col-md-6">
                    <h5>Base Case</h5>
                    <div class="form-group">
                        <label asp-for="BaseCase.StandardCmvoDaily">
                            Standard CMVO Daily Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="BaseCase.StandardCmvoDaily"/>
                        </div>
                        <span class="text-danger" asp-validation-for="BaseCase.StandardCmvoDaily"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BaseCase.StandardCmvoWeekly">
                            Standard CMVO Weekly Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="BaseCase.StandardCmvoWeekly"/>
                        </div>
                        <span class="text-danger" asp-validation-for="BaseCase.StandardCmvoWeekly"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BaseCase.StandardOtherDaily">
                            Standard Other Daily Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="BaseCase.StandardOtherDaily"/>
                        </div>
                        <span class="text-danger" asp-validation-for="BaseCase.StandardOtherDaily"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BaseCase.StandardOtherWeekly">
                            Standard Other Weekly Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="BaseCase.StandardOtherWeekly"/>
                        </div>
                        <span class="text-danger" asp-validation-for="BaseCase.StandardOtherWeekly"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BaseCase.StandardHighwayWeekly">
                            Standard Highway Weekly Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="BaseCase.StandardHighwayWeekly"/>
                        </div>
                        <span class="text-danger" asp-validation-for="BaseCase.StandardHighwayWeekly"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BaseCase.StandardHighwayReduction">
                            Highway Holiday Reduction Factor
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="BaseCase.StandardHighwayReduction"/>
                        </div>
                        <span class="text-danger" asp-validation-for="BaseCase.StandardHighwayReduction"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BaseCase.MaxCmvoDistance">
                            Max Distance to be CMVO (miles)
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="BaseCase.MaxCmvoDistance"/>
                        </div>
                        <span class="text-danger" asp-validation-for="BaseCase.MaxCmvoDistance"></span>
                    </div>

                </div>

                <div class="col-md-6">
                    <h5>Variant Case</h5>
                    <div class="form-group">
                        <label asp-for="VariantCase.StandardCmvoDaily">
                            Standard CMVO Daily Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="VariantCase.StandardCmvoDaily"/>
                        </div>
                        <span class="text-danger" asp-validation-for="VariantCase.StandardCmvoDaily"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VariantCase.StandardCmvoWeekly">
                            Standard CMVO Weekly Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="VariantCase.StandardCmvoWeekly"/>
                        </div>
                        <span class="text-danger" asp-validation-for="VariantCase.StandardCmvoWeekly"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VariantCase.StandardOtherDaily">
                            Standard Other Daily Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="VariantCase.StandardOtherDaily"/>
                        </div>
                        <span class="text-danger" asp-validation-for="VariantCase.StandardOtherDaily"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VariantCase.StandardOtherWeekly">
                            Standard Other Weekly Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="VariantCase.StandardOtherWeekly"/>
                        </div>
                        <span class="text-danger" asp-validation-for="VariantCase.StandardOtherWeekly"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VariantCase.StandardHighwayWeekly">
                            Standard Highway Weekly Hours
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="VariantCase.StandardHighwayWeekly"/>
                        </div>
                        <span class="text-danger" asp-validation-for="VariantCase.StandardHighwayWeekly"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VariantCase.StandardHighwayReduction">
                            Highway Holiday Reduction Factor
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="VariantCase.StandardHighwayReduction"/>
                        </div>
                        <span class="text-danger" asp-validation-for="VariantCase.StandardHighwayReduction"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="VariantCase.MaxCmvoDistance">
                            Max Distance to be CMVO (miles)
                        </label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" asp-for="VariantCase.MaxCmvoDistance"/>
                        </div>
                        <span class="text-danger" asp-validation-for="VariantCase.MaxCmvoDistance"></span>
                    </div>

                </div>
            </div> *@

            <hr/>
            <button type="submit" class="btn btn-primary">Run</button>
        </form>
    </div>
</div>
