nameOverride: csps-policy-{{ .Environment.Name }}
image:
  repository: mtscontainers.azurecr.io/policy-dev-eng-dts-csps
  tag: "{{ requiredEnv "DOCKER_TAG" }}" 
  pullPolicy: Always

extraEnv:
  - name: connectionString
    value:  {{ requiredEnv "connectionString" }}

ingress:
      enabled: true
      hosts:
      {{ if or (eq .Environment.Name "prod-blue") (eq .Environment.Name "prod-green") }}
        - policy-dev-eng-dts-csps.{{ requiredEnv "BASE_DOMAIN" }}
      {{ end }}      
        - policy-dev-eng-dts-csps-{{ .Environment.Name }}.{{ requiredEnv "BASE_DOMAIN" }}
      annotations: {}
      # kubernetes.io/ingress.class: traefik

resources:
  requests:
    cpu: 200m
    memory: 512Mi
livenessDelay: 60
readinessDelay: 60
livenessPath: /
readinessPath: /
port: 5000
